<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Default -->
<ion-badge>99</ion-badge>

<!-- Colors -->

<ion-badge color="primary">11</ion-badge>
<ion-badge color="secondary">22</ion-badge>
<ion-badge color="tertiary">33</ion-badge>
<ion-badge color="success">44</ion-badge>
<ion-badge color="warning">55</ion-badge>
<ion-badge color="danger">66</ion-badge>
<ion-badge color="light">77</ion-badge>
<ion-badge color="medium">88</ion-badge>
<ion-badge color="dark">99</ion-badge>

<!-- Item with badge on left and right -->
<ion-list >
  <ion-item color="success">
    <ion-badge slot="end" color="danger">11</ion-badge>
    <ion-label>Alertas</ion-label>
  </ion-item>
  <ion-item>
     <ion-badge slot="end" color="primary">{{pedidos}}</ion-badge>
     <ion-label>Pedidos (ago/2020)</ion-label>
  </ion-item>
</ion-list>

<ion-item>
  <ion-badge slot="end" color="secondary">365</ion-badge>
  <ion-label>Alunos IONIC</ion-label>
</ion-item>

</ion-content>
