<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Navegação 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-button (click)="showNav1()">Navegar para Nav 1</ion-button>
</ion-content>
