<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4>vamos de Grid?</h4>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
    <ion-col>4</ion-col>
    <ion-col>5</ion-col>
    <ion-col>6</ion-col>
    <ion-col>7</ion-col>
    <ion-col>8</ion-col>
    <ion-col>9</ion-col>
    <ion-col>10</ion-col>
    <ion-col>11</ion-col>
    <ion-col>12</ion-col>
  </ion-row>
</ion-grid>
<h4>brincando com o tamanho das colunas</h4>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>3</ion-col>
    <ion-col>4</ion-col>
    <ion-col>5</ion-col>
    <ion-col>6</ion-col>
  </ion-row>
</ion-grid>

<h4>Vamos pular colunas para a direita</h4>
<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
    <ion-col>4</ion-col>
    <ion-col>5</ion-col>
    <ion-col>6</ion-col>
    <ion-col>7</ion-col>
    <ion-col>8</ion-col>
    <ion-col>9</ion-col>
    <ion-col>10</ion-col>
    <ion-col>11</ion-col>
    <ion-col>12</ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="3">Coluna 1</ion-col>
    <ion-col size="3" offset="3">Coluna 2</ion-col>
    <ion-col size="3">Coluna 3</ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col *ngFor="let sigla of siglas">
      <ion-button fill="clear" size="small" target="_blank" href="https://www.google.com/search?q={{sigla}}">{{sigla}}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let numero of numeros">{{numero}}</ion-col>
  </ion-row>
</ion-grid>
<ion-item>
  <ion-label position="floating" >Sigla</ion-label>
  <ion-input [(ngModel)]="sg"></ion-input>
</ion-item>
<ion-button (click)="onClick()">Click</ion-button>
</ion-content>
