<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CheckBox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label>Padrão</ion-label>
  <ion-checkbox></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label>Desabilitado</ion-label>
  <ion-checkbox disabled="true" checked="true"></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label>Checado</ion-label>
  <ion-checkbox checked="true"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Início</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
</ion-item>

<ion-item color="tertiary">
  <ion-label>Cores</ion-label>
  <ion-checkbox color="success"></ion-checkbox>
</ion-item>

<h3>Continuando... escrevendo script para mes</h3>
<ion-list>
  <ion-item *ngFor="let mes of meses">
    <ion-label>{{mes.nomeMes}}</ion-label>
    <ion-checkbox checked="{{mes.marcado}}" [(ngModel)]="mes.marcado"></ion-checkbox>
  </ion-item>
</ion-list>
<ion-button expand="block" (click)="exibirMeses()">ExibirMesesMarcados</ion-button>


</ion-content>
