<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inputs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Default Input -->
<ion-input></ion-input>

<!-- Input with value -->
<ion-input value="Senac Itaquera"></ion-input>

<!-- Input with placeholder -->
<ion-item>
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input placeholder="Digite seu nome" [(ngModel)]="aluno.nome"></ion-input>
</ion-item>

<!-- Input with clear button when there is a value -->
<ion-item>
  <ion-label position="floating">Sua idade</ion-label>
  <ion-input type="number" [(ngModel)]="aluno.idade"></ion-input>
</ion-item>
<ion-button (click)="gravar()" >gravar</ion-button>

</ion-content>
