<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Navegação 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="showNav2()">Navegar para Nav 2</ion-button>
</ion-content>
