<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Aviso de como utilizar -->
<ion-card>
  <ion-card-content>
    <p id="aviso">
      Para realizar o cálculo digite sua altura em metros (ex.: 1,69), e o seu peso em Kilos (69,890)
    </p>
  </ion-card-content>
</ion-card>
<!-- inputs -->
<ion-list>
  <ion-item>
    <ion-label position="floating">Digite sua altura</ion-label>
    <ion-input type=number [(ngModel)]="altura" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digite seu peso</ion-label>
    <ion-input type=number [(ngModel)]="peso"></ion-input>
  </ion-item>
</ion-list>
<!-- botões (calcular) -->

  <ion-button expand="block" (click)="calcular()">Calcular IMC</ion-button>

<!-- Mensagem de resultados -->
<div *ngIf="imc > 0">
  <ion-card>
    <ion-header>IMC: {{imc}}</ion-header>
    <ion-img src=""></ion-img>
    <ion-card-content>
      <p><ion-icon margin="5px" name="send"></ion-icon>Situação: {{condicao}}</p>
      <br>
      <p><ion-icon margin="5px" name="thumbs-up"></ion-icon>IMC saudável fica entre 18,5 a 24,99</p>
      <p><ion-icon margin="5px" name="help"></ion-icon>Não entendeu? Visite o site da <a href="https://www.who.int/eportuguese/countries/bra/pt/" targer="_blank">OMS</a> </p>

    </ion-card-content>

  </ion-card>
</div>

</ion-content>
