<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CEP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-list>
  <ion-item>
    <ion-label position="stacked">informe o Cep</ion-label> 
    <ion-input type="text" [(ngModel)]="cep"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="success" expand="block" (click)="consultarCep()">Consultar</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>CEP</ion-label>
    <p>{{cep}}</p>
  </ion-item>
  <ion-item>
    <ion-label>Logradouro</ion-label>
    <p>{{resultado.logradouro}}</p>
  </ion-item>
  <ion-item>
    <ion-label>Bairro</ion-label>
    <p>{{resultado.bairro}}</p>
  </ion-item>
</ion-list>
</ion-content>
