<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4>Fab - Floating Action Button</h4>
minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa
<br>minha linha fofa

<ion-fab vertical="top" horizontal="end">
  <ion-fab-button>
    <ion-icon name="person"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="start" horizontal="end">
  <ion-fab-button>
    <ion-icon name="people"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="top" horizontal="start">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-fab vertical="center" horizontal="center">
  <ion-fab-button>
    <ion-icon name="people"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button (click)="add()"  href="datetime">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list>
    <ion-fab-button (click)="salvar()" href="navegacao1">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

</ion-content>
