<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datetime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Data padrão</ion-label>
  <ion-datetime></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Data com displayFormat</ion-label>
  <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Data com displayFormat</ion-label>
  <ion-datetime display-format="MM/YYYY"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label>Data com PickFormat</ion-label>
  <ion-datetime display-format="HH:mm"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label>Data com PickFormat</ion-label>
  <ion-datetime display-format="MM/YYYY" picker-format="MM YYYY" min="2020" max="2090"></ion-datetime>
</ion-item>
</ion-content>
